body {
	background-color: #DDD;
}

.page {
	background-color: #FFF;
	max-width: 500px;
	width: 100%;

	margin-right: auto;
	margin-left: auto;

	padding: 10px;
}

.wide {
	width: 100%;
}

.section {
	margin-top: 15px;
	margin-bottom: 15px;
}

#textarea {
	width: 98%;
	height: 500px;
	border-width: 1px;

	padding: 5px;
	margin: auto;
	transform: translateX(-1px);
	border-style: solid;

	white-space: pre-wrap;
	overflow-y: scroll;
}
