body {
	background-color: #DDD;
}

.page {
	background-color: #FFF;
	max-width: 800px;
	width: 100%;

	margin-right: auto;
	margin-left: auto;

	padding: 10px;
}

.wide {
	width: 100%;
}

.section {
	margin-top: 15px;
	margin-bottom: 15px;
}

#textarea {
	width: 98%;
	height: 500px;
	border-width: 1px;

	padding: 5px;
	margin: auto;
	transform: translateX(-1px);
	border-style: solid;

	display: block;
	position: relative;
}

.subtitle {
	font-weight: bold;
	margin-top: 20px;
}

.table .key {
	display: inline-block;
	width: 240px;
	display: inline-block;
}
.table .val {
	display: inline-block;
	width: 60%;
	display: inline-block;
}
.table .desc {
	font-size: 10pt;
	margin-bottom: 10px;
}
.table input {
	width: 100%;
}
